@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;
}
section.glass
{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    width: 100%;
    background: #001923;
}
section.glass::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ebd725, #4b0cc2);
    border-radius: 50%;
    transform: translate(-420px, -180px);
}
section.glass::after
{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#10d3ec, #0b18d1);
    border-radius: 50%;
    transform: translate(420px, 180px);
}
.content
{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    height: 500px;
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}
.content::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}
h2{
    color: #fff;
    font-size: 90px;
    text-align: center;
    padding-top: 100px;
}
p{
    color: #fff;
    font-size: 20px;
    text-align: center;
}